<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript" src="/static/js/memberForm.js"></script>
<script type="text/javascript">
$(function(){
	$.ajax({
		type:"post",
		url : "memberMyPage",
		success : function(result){
			console.log(result)
			var enterDate = new Date(result.memberCommand.memberRegist);
			var enterYear =  enterDate.getFullYear();
			var enterMonth =  ("0" + (enterDate.getMonth() + 1)).slice(-2);
			var enterDay =  ("0" + enterDate.getDate()).slice(-2);
			
			var birthDate = new Date(result.memberCommand.memberBirth);
			var birthYear =  birthDate.getFullYear();
			var birthMonth =  ("0" + (birthDate.getMonth() + 1)).slice(-2);
			var birthDay =  ("0" + birthDate.getDate()).slice(-2);
			
			var item="";
			item += "이숭무님의 회원정보입니다.<br />";
			item += "이름 : "+ result.memberCommand.memberName + "<br />";
			item += "아이디 : "+ result.memberCommand.memberId + "<br />";
			item += "주소 : "+ result.memberCommand.memberAddr + "<br />";
			item += "우편번호 : "+ result.memberCommand.memberPost + "<br />";
			item += "연락처1 : "+ result.memberCommand.memberPhone1 + "<br />";
			item += "연락처2 : "+ result.memberCommand.memberPhone2 + "<br />";
			if(result.memberCommand.memberGender == 'M')item += "성별 : <span>남자</span><br />";
			else item += "성별 : <span>여자</span><br />";
			item += "등록일 : "+ enterYear +"-" + enterMonth + "-" + enterDay + "<br />";
			item += "생년월일 : "+ birthYear +"-" + birthMonth + "-" + birthDay + "<br />";
			item += "이메일 : "+ result.memberCommand.memberEmail + "<br />";
			$("#content").html(item);
		},
		error:function(){
			alert("서버오류");
		}
	});
});
function memberModify(){
	$.ajax({
		type:"get",
		url:"memberUpdate",
		success : function(map){
			console.log(map);
			var birthDate = new Date(map.memberCommand.memberBirth);
			var birthYear =  birthDate.getFullYear();
			var birthMonth =  ("0" + (birthDate.getMonth() + 1)).slice(-2);
			var birthDay =  ("0" + birthDate.getDate()).slice(-2);
			
			$("#content").css("display","none");
			$("#updateForm").css("display","block");
			
			$("#userId").val(map.memberCommand.memberId);
			$("#memberName").val(map.memberCommand.memberName);
			$("#memberAddr").val(map.memberCommand.memberAddr);
			$("#memberAddrDetail").val(map.memberCommand.memberAddrDetail);
			$("#memberPost").val(map.memberCommand.memberPost);
			$("#memberPhone1").val(map.memberCommand.memberPhone1);
			$("#memberPhone2").val(map.memberCommand.memberPhone2);
			$("#userEmail").val(map.memberCommand.memberEmail);
			$("#memberBirth").val(birthYear + "-" + birthMonth + "-" + birthDay);
			if(map.memberCommand.memberGender == 'M'){
				$('input[name="memberGender"][value="M"]').prop('checked', true);
			}else{
				$('input[name="memberGender"][value="F"]').prop('checked', true);
			}
		},
		error:function(){
			alert("서버오류");
		}
	});
}
</script>
</head>
<body>
<ul>
	<li><a href="memberMyPage">내정보 보기</a></li>
	<li><a href="javascript:memberModify()">내정보 수정</a></li>
	<li><a href="userPwModify">비밀번호변경</a></li>
	<li><a href="userDrop">회원탈퇴</a></li>
</ul>
<div id="content" ></div>
<div id="updateForm" style="display: none">
내정보 수정<br />
<form action="userRegist" method="post" id="frm">
회원아이디 : <input type="text" name="memberId" id="userId" readonly="readonly" /></span><br />
회원비밀번호 : <input type="password" name="memberPw" id="memberPw"/><br />
회원이름 : <input type="text" name="memberName" id="memberName" /><br />
회원주소 : <input type="text" name="memberAddr" id="memberAddr" /><br />
회원상세주소 : <input type="text" name="memberAddrDetail" id="memberAddrDetail"/><br />
우편번호 :  <input type="text" name="memberPost"  id="memberPost" /><br />
성별 : <input type="radio" name="memberGender" value="M"/>남자
	  <input type="radio" name="memberGender" value="F"/>여자 <br />
연락처1 : <input type="text" name="memberPhone1" id="memberPhone1" /><br /> 
연락처2 : <input type="text" name="memberPhone2" id="memberPhone2"/><br />
이메일 : <input type="text" name="memberEmail" id="userEmail" /><span id="emailCheck"></span><br />
생년월일 : <input type="date" name="memberBirth" id="memberBirth"/><br />
<button type="submit">회원정보 수정 완료</button>
</form>
</div>
</body>
</html>













