<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBootMVCShopping.mapper.GoodsMapper">
<sql id="goodsColumnsBase">
	   goods_Num , goods_name , goods_price ,goods_content , delivery_cost , emp_num  
	  ,goods_regist , goods_main_store ,goods_main_store_img 
	  , goods_images ,goods_images_img 
	  , visit_count ,update_Emp_Num , goods_Update_Date
</sql>
<insert id="goodsInsert" parameterType="goods">
insert into goods ( <include refid="goodsColumnsBase" /> )
values(#{goodsNum}, #{goodsName}, #{goodsPrice}, #{goodsContent},#{deliveryCost},
		#{empNum}, sysdate, #{goodsMainStore}, #{goodsMainStoreImg} 
		<if test="goodsImages != null">
			,#{goodsImages} , #{goodsImagesImg}
		</if>
		<if test="goodsImages == null">
			,null,null
		</if>	  	
	  	,0,null,null)
</insert>

<!-- dto에 직접 넣어 가지고 오는 것이 아니라 setter를 이용해서 가져오겠습니다. -->
<resultMap type="goods" id="goodsResultMap">
	<constructor>
		<idArg  column="goods_Num" javaType="string" jdbcType="VARCHAR"/>
		<arg column="goods_Name" javaType="string" jdbcType="VARCHAR" />
		<arg column="goods_Price" javaType="integer" jdbcType="BIGINT" />
		<arg column="delivery_Cost" javaType="integer" jdbcType="BIGINT" />
		<arg column="goods_Content" javaType="string" jdbcType="VARCHAR" />
		<arg column="emp_Num" javaType="string" jdbcType="VARCHAR" />
		<arg column="visit_Count" javaType="integer" jdbcType="BIGINT" />
		<arg column="goods_Regist" javaType="java.util.Date" jdbcType="DATE" />
		<arg column="update_Emp_Num" javaType="string" jdbcType="VARCHAR" />
		<arg column="goods_Update_Date" javaType="java.util.Date" jdbcType="DATE" />
		<arg column="goods_main_store" javaType="string" jdbcType="VARCHAR" />
		<arg column="goods_main_store_img" javaType="string" jdbcType="VARCHAR" />
		<arg column="goods_images" javaType="string" jdbcType="VARCHAR" />
		<arg column="goods_images_img" javaType="string" jdbcType="VARCHAR" />
	</constructor>
</resultMap> 
<select id="allSelect" resultMap="goodsResultMap">
select * from (
	select ROW_NUMBER() over (order by goods_num desc) as rn,
			<include refid="goodsColumnsBase" />
	from goods
	<where>
		<if test="searchWord != null">
			goods_name like '%' || #{searchWord} || '%'
			or goods_num like '%' || #{searchWord} || '%'
		</if>
	</where>
)sub1
where rn between #{startRow}  and #{endRow}
</select>
<select id="goodsCount" parameterType="string" resultType="integer">
	select count(*) from goods
	<where>
		<if test="searchWord != null">
			goods_name like '%' || #{searchWord} || '%'
			or goods_num like '%' || #{searchWord} || '%'
		</if>
	</where>
</select>
<delete id="productsDelete" parameterType="string">
delete from goods <!-- foreach문을 사용해서 in연산자를 사용합니다. -->
where goods_num in <foreach collection="products" item="goodsNum" open="(" close=")" index="index"
					separator=",">
						#{goodsNum}
					</foreach>
</delete>

<select id="selectOne" parameterType="string" resultMap="goodsResultMap">
select <include refid="goodsColumnsBase" />
from goods  
where goods_Num = #{goodsNum}
</select>
<update id="goodsUpdate" parameterType="goods"> 
update goods
set GOODS_NAME = #{goodsName}, GOODS_PRICE = #{goodsPrice}
	,delivery_cost =#{deliveryCost}, GOODS_CONTENT = #{goodsContent}
    ,update_emp_num = #{updateEmpNum}, goods_update_date = sysdate
    <if test="goodsMainStore != null">
    ,goods_main_store = #{goodsMainStore}
	,goods_main_store_img = #{goodsMainStoreImg}
    </if>
    <if test="goodsImages != null">
    ,goods_images = #{goodsImages}
	,goods_images_img = #{goodsImagesImg}
    </if>
where goods_num = #{goodsNum}
</update>
<delete id="goodsDelete" parameterType="string">
delete from goods
where goods_num = #{goodsNum}
</delete>



<select id="goodsDetailStock" parameterType="string" resultMap="goodsStockResultMap">
<!-- 이제 상품 정보와 같이 가져온다. -->
select 	g.goods_Num , goods_name , goods_price ,goods_content , delivery_cost , emp_num  
         ,goods_regist , goods_main_store ,goods_main_store_img , goods_images 
         ,goods_images_img , visit_count ,update_Emp_Num , goods_Update_Date
         ,coalesce(stock ,0 ) stock <!-- 입고 정보가 없으면 null이라 null이면 0으로 -->
from goods g left outer join ( <!-- 상품정보는 있지만 입고가 없어도 출력해야 한다. -->
	<!-- 두개의 쿼리문을 조인해서 입고수량 - 구매수량 = 재고수량이 되게 계산합니다.  -->
	select ip.goods_num , iqty - coalesce(pqty,0) stock <!-- 구매수량이 없으면 null이되므로 null이면 0으로 -->
	from ( 
		<!-- 먼저 입고수량을 구하겠습니다 -->
		select goods_num, sum(IPGO_QTY) iqty from  goodsipgo
		group by goods_num)ip left outer join <!-- 구매수량이 없어도 입고수량이 있으면 출력해야한다. -->
		<!-- 판매수량을 구하겠습니다. -->
		(select goods_num, sum(purchase_qty) pqty from purchase_list
		group by goods_num)pl
	on ip.goods_num = pl.goods_num
)s
on g.goods_num = s.goods_num
where g.goods_num = #{goodsNum} <!-- 좀 복잡해보이죠.. ^^ 이제 이 값을 html로 보내지요.. 앗 여기서 잠깐 -->
</select>

<update id="visitCount" parameterType="string">
	update goods
	set visit_count = visit_count + 1
	where goods_num = #{goodsNum}
</update>
<select id="goodsStockSelectOne" parameterType="string" 
	resultMap="goodsStockResultMap">
select * 
from goods g left outer join (select i.goods_num , ipgo - nvl(release,0) stock
                from (select goods_num, sum(IPGO_QTY) ipgo
                      from goodsipgo
                      group by goods_num) i left outer join 
                      						   (select goods_num, sum(PURCHASE_QTY) release
                                                from purchase_list
                                                group by goods_num) r
                on   i.goods_num = r.goods_num) s 
on g.goods_num = s.goods_num
where g.goods_num = #{goodsNum}
</select>
<resultMap type="goodsStock" id="goodsStockResultMap">
	<result column="stock" jdbcType="BIGINT" property="stock" />
	<association property="goodsDTO" javaType="goods" resultMap="goodsResultMap" />
</resultMap>
</mapper>










