<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deliveryRepositorySql">
<update id="deliveryUpdate" parameterType="delivery">
merge into delivery d
using (select purchase_num from purchase where purchase_num = #{purchaseNum}) p
on (d.purchase_num = p.purchase_num)
WHEN MATCHED THEN
update set DELIVERY_NUM = #{deliveryNum}
WHEN not MATCHED THEN
insert (PURCHASE_NUM, DELIVERY_NUM, DELIVERY_DATE, DELIVERY_STATE)
values (#{purchaseNum},#{deliveryNum},sysdate,'배송중')
</update>
<select id="deliverySelectOne" parameterType="string" resultType="delivery">
select *
from delivery
where PURCHASE_NUM = #{purchaseNum}
</select>
<update id="deliveryStatusUpdate">
update delivery
set DELIVERY_STATE = '배송완료'
where PURCHASE_NUM = #{purchaseNum}
</update>
</mapper>