<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PurchaseRepositorySql">
<sql id="purchaseBaseColumns">
  PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL
, DELIVERY_POST, DELIVERY_PHONE, MESSAGE, PURCHASE_STATUS, MEMBER_NUM, DELIVERY_NAME
, PURCHASE_NAME
</sql>
<select id="numSelect" resultType="string">
select 
    concat(to_char(sysdate,'yyyyMMdd')  , 
        nvl(max(substr(purchase_num,9) ),100000) + 1) from purchase
where substr(purchase_num,1,8) = to_char(sysdate,'yyyyMMdd')
</select>
<insert id="purchaseInsert" parameterType="purchase">
insert into purchase(<include refid="purchaseBaseColumns" />)
values(#{purchaseNum},sysdate,#{purchasePrice}
,#{deliveryAddr},#{deliveryAddrDetail},#{deliveryPost}
,#{deliveryPhone},#{message},'입금대기중',#{memberNum}
,#{deliveryName},#{purchaseName})
</insert>
<insert id="purchaseListInsert" parameterType="purchaseList">
insert into purchase_list(GOODS_NUM, PURCHASE_NUM, PURCHASE_QTY, TOTAL_PRICE)
select                  c.GOODS_NUM, #{purchaseNum},  CART_QTY , CART_QTY * goods_price
from cart c join goods g
on c.goods_num = g.goods_num
where c.member_num = #{memberNum} 
and c.goods_num in 
<foreach collection="goodsNums" item="goodsNum" close=")" open="(" index="index" 
		separator=",">	
	#{goodsNum}
</foreach>
</insert>
<select id="purchaseSelect" parameterType="string" resultType="purchase">
select  <include refid="purchaseBaseColumns" />
from purchase
where purchase_num = #{purchaseNum}
</select>
<resultMap type="orderList" id="orderListResultMap">
	<association property="deliveryDTO" javaType="delivery">
		<id  column="purchase_num" jdbcType="VARCHAR" property="purchaseNum"/>
		<result column="delivery_num" jdbcType="VARCHAR" property="deliveryNum"/>
		<result column="delivery_date" jdbcType="DATE" property="deliveryDate"/>
		<result column="delivery_state" jdbcType="VARCHAR" property="deliveryState"/>
	</association>
	<association property="paymentDTO" javaType="payment">
		<id  column="purchase_num" jdbcType="VARCHAR" property="purchaseNum" />
		<result column="confirmnumber" jdbcType="VARCHAR" property="confirmnumber"/>
		<result column="appldate" jdbcType="VARCHAR" property="appldate"/>
	</association>
	<association property="purchaseDTO" javaType="purchase">
		<constructor>
			<idArg column="purchase_Num" javaType="string" />
			<arg column="purchase_Date" javaType="java.util.Date"/>
			<arg column="purchase_Price" javaType="integer"/>
			<arg column="delivery_Addr" javaType="string"/>
			<arg column="delivery_Addr_Detail" javaType="string"/>
			<arg column="delivery_Post" javaType="string"/>
			<arg column="delivery_Phone" javaType="string"/>
			<arg column="message" javaType="string"/>
			<arg column="purchase_Status" javaType="string"/>
			<arg column="member_num" javaType="string"/>
			<arg column="delivery_name" javaType="string"/>
			<arg column="purchase_Name" javaType="string"/>
		</constructor>
	</association>
	<collection property="purchseListGoodsDTOs" ofType="purchaseListGoods" > <!-- list : n -->
		<association property="purchaseList" javaType="purchaseList">
			<result column="purchase_qty" jdbcType="BIGINT" property="purchaseQty"/>
			<result column="total_price" jdbcType="BIGINT" property="totalPrice"/>
		</association>
		<association property="goods" javaType="goods"><!-- resultMap이 없으므로 작성해야합니다. -->
			<id column="goods_Num" jdbcType="VARCHAR" property="goodsNum"/>
			<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
			<result column="goods_price" jdbcType="BIGINT" property="goodsPrice"/>
			<result column="goods_content" jdbcType="VARCHAR" property="goodsContent"/>
			<result column="delivery_cost" jdbcType="BIGINT" property="deliveryCost"/>
			<result column="emp_num" jdbcType="VARCHAR" property="empNum"/>
			<result column="goods_regist" jdbcType="DATE" property="goodsRegist"/>
			<result column="goods_main_store" jdbcType="VARCHAR" property="goodsMainStore"/>
			<result column="goods_main_store_img" jdbcType="VARCHAR" property="goodsMainStoreImg"/>
			<result column="goods_images" jdbcType="VARCHAR" property="goodsImages"/>
			<result column="goods_images_img" jdbcType="VARCHAR" property="goodsImagesImg"/>
			<result column="visit_count" jdbcType="BIGINT" property="visitCount"/>
			<result column="update_Emp_Num" jdbcType="VARCHAR" property="updateEmpNum"/>
			<result column="goods_Update_Date" jdbcType="DATE" property="goodsUpdateDate"/>
		</association>
	</collection>
</resultMap>
<select id="orderList" parameterType="string" resultMap="orderListResultMap">
select   CONFIRMNUMBER, APPLDATE
	   , p.PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DELIVERY_ADDR, DELIVERY_ADDR_DETAIL
	   , DELIVERY_POST, DELIVERY_PHONE, MESSAGE, PURCHASE_STATUS, MEMBER_NUM, DELIVERY_NAME
       , PURCHASE_NAME
       , purchase_qty, total_price
       , g.goods_Num, goods_Name, goods_main_store, delivery_Cost, goods_Price, goods_Content
	   , delivery_num, delivery_date, delivery_state
from  payment pm right outer join purchase p 
on pm.PURCHASE_NUM = p.PURCHASE_NUM join   purchase_list pl
on p.PURCHASE_NUM = pl.PURCHASE_NUM  join goods g
on pl.goods_num = g.goods_num left outer join delivery d
on p.PURCHASE_NUM = d.PURCHASE_NUM
<if test="memberNum != null">
where member_num = #{memberNum}
</if>
</select>
<insert id="paymentInsert" parameterType="payment">
insert into payment(purchase_num,confirmnumber,cardnum,tid,totalprice,resultmessage,paymethod
					,appldate,appltime,purchasename)
values(#{purchaseNum},#{confirmnumber},#{cardnum},#{tid},#{totalprice},#{resultmessage}
	  ,#{paymethod},#{appldate},#{appltime},#{purchasename})
</insert>
<update id="purchaseStatusUpdate" parameterType="string">
update purchase
set purchase_status = #{purchaseStatus}
where purchase_num = #{purchaseNum}
</update>
<delete id="paymentDelete" parameterType="string">
	delete from payment
	where purchase_num = #{purchaseNum}
</delete>
</mapper>