<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#btn").click(function(){
		if([[${session.auth == null}]]){
			window.open("/login/item.login","login"
					,"width=315, height=200,top = 100, left=100");
		}else{
			window.open("/inquire/inquireWrite?goodsNum=[[${goodsNum}]]"
				,"","width=700, height=650, top = 100, left=100");
		}
	});
});
function inquireUpdate(inquireNum){
	window.open("/inquire/inquireUpdate?inquireNum="+inquireNum,
			"","width=700, height=650, top = 100, left=100");
}
function inquireDelete(inquireNum){
	$.ajax({
		type:'post',
		url:'/inquire/inquireDelete',
		data: {'inquireNum':inquireNum},
		success:function(){
			inquire();
		}
	});
}
function contentOpen(id){
	if($("."+id).css("display") == "none"){ // 답글이 안보인 다면 
		$("."+id).css("display", "");  // 답글을 보이게 하고 
		$("#"+id).text("답변닫기"); // 버큰은 닫기로 변경
	}else{  // 답글이 보이면 안보이게 하고
		$("."+id).css("display", "none"); 
		$("#"+id).text("답변열기");  // 버큰은 열기로 변경
	}
}
</script>
</head>
<body>
<div id="inquireForm"></div>
<table width="600" align="center" border="1">
	<tr><td colspan="4" align="right">
		<button type="button" id="btn" >문의하기</button></td></tr>
<th:block th:each=" dto , idx : ${list}">
	<tr><td width="30">[[${idx.count}]]</td>
		<td><span th:if="${dto.inquireAnswer == null}" >검토</span> 
			<span th:if="${dto.inquireAnswer != null}" >답변완료</span></td>
		<td>[[${dto.memberId}]]</td>
		<td>[[${#dates.format(dto.inquireDate,'yyyy-MM-dd')}]]</td></tr>
	<tr><td colspan="4">[[${dto.inquireKind}]] <br /> [[${dto.inquireSubject}]]</td></tr>
	<tr><td colspan="4">[[${dto.inquireContent}]]<br />
		 <th:block th:if="${session.auth != null}">
		 	<th:block th:if="${session.auth.userId == dto.memberId}">
			<button type="button" th:attr="onclick=|inquireUpdate('${dto.inquireNum}');|">문의수정</button>
			<button type="button" th:attr="onclick=|inquireDelete('${dto.inquireNum}');|">문의삭제</button>
		 	</th:block>
		 </th:block>
		 <button type="button" th:id="inq_+${dto.inquireNum}"
						th:attr="onclick=|contentOpen('inq_${dto.inquireNum}');|"
						>답변열기</button>
		</td>
	</tr>
	<tr  th:if="${dto.inquireAnswer != null}" style="display:none;" 
									th:class="inq_+${dto.inquireNum}"> <!-- 답변내용이 안보인다. -->
	<!-- 답변이 있어야 보이게 합니다. -->
		<td  colspan="6">답변일 : [[${#dates.format(dto.inquireAnswerDate,'yyyy-MM-dd')}]]<br />
		<span th:utext="${#strings.replace(dto.inquireAnswer,newLineChar,'&lt;br /&gt;')}"></span></td>
	</tr>
</th:block>
</table>
</body>
</html>